table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    text-align: center;
    padding: 8px;
  }
  th {
    background-color: #f80303;
    color: #faf9fc;
  }

  td {
    border: 5px solid #020202;
  }
 